.home-portfolio {
  background-color: #f7f8f8;
  margin: 0 auto;
}

.home-portfolio .home-portfolio-inner {
  padding: 100px 0;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.home-portfolio .home-portfolio-inner .home-portfolio-upper .home-portfolio1 {
  width: 100%;
  text-align: center;
}

.home-portfolio .home-portfolio-inner .home-portfolio-upper {
  width: 100%;
  height: 128px;
  font-weight: 800;
}

.home-portfolio .home-portfolio-inner .home-portfolio-middle {
  margin-bottom: 41px;
}

.home-portfolio .home-portfolio-inner #home-portfolio-heading {
  font-weight: 800;
}

.home-portfolio .home-portfolio-inner .home-portfolio-middle .home-portfolio-middle-inner .home-portfolio-list {
  text-align: center;
}

.home-portfolio .home-portfolio-inner .home-portfolio-middle .home-portfolio-middle-inner .home-portfolio-list .nav {
  position: relative;
  display: inline-block;
  margin: 0;
}


.home-portfolio-middle-inner .home-portfolio-list .nav li {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 14px 25px;
  border-radius: 3px;
  text-transform: capitalize;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(94, 94, 94, 0.15);
  margin: 0 5px;
  color: #212529;
  transition: all 0.4s ease;
}

.home-portfolio-list .nav li:hover,
.home-portfolio-list .nav li.filter-active {
  color: #fff;
  background-color: #7b68ee;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down {
  width: 100%;
  height: auto;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img {
  height: 348px;
  width: 348px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
  border: 1px solid #b9b6b6;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img img {
  display: block;
  width: 348px;
  height: auto;
  transition: transform 5s cubic-bezier(0, 0, 1, 1);
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img img:hover {
  transform: translateY(-85%);
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .browser-bar {
  background: #f2f2f2;
  padding: 8px 10px;
  border-radius: 4px 4px 0 0;
  display: flex;
  position: relative;
  z-index: 3;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .bar-dots {
  width: 40px;
  /* margin-top: 2px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .bar-dots .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.home-portfolio-img:hover .dot:nth-child(1) {
  box-shadow: rgb(255, 0, 0) 0px 7px 29px 0px;
  transition: 1s;
}

.home-portfolio-img:hover .dot:nth-child(2) {
  box-shadow: rgb(251, 255, 0) 0px 7px 29px 0px;
}

.home-portfolio-img:hover .dot:nth-child(3) {
  box-shadow: rgb(72, 255, 0) 0px 7px 29px 0px;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .browser-bar .bar-url {
  width: calc(100% - 65px);
  border-radius: 4px;
  border: none;
  background-color: white;
  height: 24px;
  line-height: 24px;
  color: #aaa;
  padding: 0 11px;
  margin: 3px 0 2px 6px;
  font-size: 14.5px;
  pointer-events: none;
  box-shadow: none;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .listing-badge {
  float: left;
  position: absolute;
  transform: rotate(45deg);
  right: -42px;
  top: 59px;
  text-align: center;
  font-size: 15.5px;
  color: #fff;
  font-weight: 600;
  line-height: 27px;
  background-color: #54ba1d;
  z-index: 2;
  width: 137px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.home-portfolio-item .home-portfolio-img .img-overlay {
  /* border-radius: 5px; */
  width: 328px;
  height: 87px;
  display: flex;
  position: absolute;
  bottom: -9%;
  transform: translateY(-50%);
  left: 6%;
  opacity: 0;
  transition: all 0.4s ease;
}

.home-portfolio-item 
.home-portfolio-img:hover .img-overlay {
  opacity: 1;
}



.img-overlay-inner {
	background-color: #fff;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	transform: translateX(-10px) translateY(20px);
	transition: all 0.4s ease;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.img-overlay .img-overlay-inner .fox {
  opacity: 0;
}


.home-portfolio-img:hover .fox {
  opacity: 1;
  transition: all 0.5s ease 0.3s;
}

.home-portfolio-img:hover .img-overlay-inner {
  transform: translateX(-10px);
}

.img-overlay-inner p {
  color: #7b68ee;
  font-size: 15px;
  font-weight: 700;
  transform: translateX(-25px);
  transition: all 0.5s ease 0.3s;
  margin: 0;
}

.home-portfolio-img:hover .img-overlay-inner p {
  transform: translateX(0);
}

.img-overlay-inner a {
  text-decoration: none;
  color: #404040;
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
  font-family: "Dosis", sans-serif;
}

.img-overlay-inner h3 {
  transform: translateX(25px);
  transition: all 0.5s ease 0.3s;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0;
}

.home-portfolio-img:hover .img-overlay-inner h3 {
  transform: translateX(0);
}

.wox {
  width: 0;
  height: 88px;
  background-color: #7b68ee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease 0.3s;
  left: -3%;
  position: relative;
}

.home-portfolio-img:hover .wox {
  width: 96px;
}

.wox a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wox i {
  color: #fff;
  opacity: 0;
  transition: 0.5s ease 0.3s;
}

.wox .fa-solid.fa-arrow-right {
  color: #fff;
  font-size: 18px;
}

.home-portfolio-img:hover .wox i {
  opacity: 1;
}

.home-portfolio-link-icon {
  width: 45px;
  height: 100%;
  color: #fff;
  background-color: #7b68ee;
}

.home-portfolio-link-icon a {
  text-decoration: none;
}

.home-portfolio-link-icon i {
  font-family: "Font Awesome 6 free";
  font-weight: 900;
}

.home-portfolio-content-overlay {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 8px;
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner  .home-portfolio-item {
  opacity: 1;
  /* Initially hidden */
  transform: translateY(20px);
  /* Start from a lower position */
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  /* Add smooth transition */
  display: block;
  /* Initially set to hidden */
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner  .home-portfolio-item.visible {
  opacity: 1;
  /* Fade in */
  transform: translateY(0);
  /* Slide up to original position */
  display: block;
  /* Ensure the item is shown */
}

.home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner  .home-portfolio-item.hidden {
  opacity: 0;
  /* Fade out */
  transform: translateY(20px);
  /* Slide down */
  /* display: block; */
  /* Keep the element in the layout */
  position: absolute;
  z-index: -10;
}






.truck {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.truckTires {
	width: 131px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px 0px 15px;
	position: absolute;
	bottom: 0;
	margin-left: 11px;
}

.truckTires svg {
  width: 24px;
  margin-right: 11px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}