.home-technology-section {
    background-color: #f7f8f8;
    /* background-color: #fff; */
    padding: 100px 0px 70px 0px;
}

.home-technology-upper {
    margin-bottom: 50px;
}

#technolgy-heading {
    padding-top: 10px;
    font-weight: 800;
}

.home-technology-bottom-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    justify-content: center;
}

.home-technology-item {
    width: 166px;
    height: 95px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .07);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 12px;

}

.home-technology-item-inner {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-technology-item-inner img {
    margin-right: 20px;
}

.home-technology-item-inner h3 {
    font-family: "Dosis", sans-serif;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}



.feature-section {
    width: 100%;
    height: 885px;
    padding: 100px 0px 70px 0px;
}

.feature-section-inner {
    /* width: 100%;
    height: auto; */
}

.feature-bottom-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px -15px;
}

.feature-item {
    width: 356px;
    height: 328px;
    padding: 20px 12px;
    text-align: center;
    transition: .4s ease;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-icon img:hover {
    transform: scaleX(-1);
}

.feature-item-inner {
    box-shadow: 0px 10px 57px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 30px;
    padding: 40px 30px;
    /* border-top: 3px solid #ff9800; */
    box-sizing: border-box;
}

.feature-item:hover .feature-item-inner {
    /* background: linear-gradient(#0dcaf0, rgb(255, 23, 131)); */
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.feature-icon img {
    width: 70px;
    height: 70px;
    transition: transform 0.5s ease;
    margin-bottom: 25px;
}

.feature-item:hover .feature-icon img,
.feature-item-inner:hover .feature-icon img {
    transform: scaleX(-1);
}



.feature-item-inner h3 {
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    margin-bottom: 15px;
}

.feature-item-inner p {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
}



.trape-door {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 95px;
    width: 166px;
    border-radius: 15px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .07);
    margin: 12px;
}

.trape-door:hover h3 {
    /* color: #fff; */
}

.trape-door:nth-child(7) {
    margin: 10px;
}

.trape-door:nth-child(7) .top-door img {
    width: 50px;
    height: 50px;
}

.trape-door:nth-child(7) .bottom-door img {
    width: 50px;
    height: 50px;
}

.door {
    height: 47.5px;
    width: 166px;
    position: absolute;
    transition: 400ms, box-shadow 200ms, transform 350ms;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    overflow: hidden;
}

.trape-door:hover .door {
    /* background-color: #ff9800; */
    /* background-color: #ff561d; */
    background-color: #f1eafd;
    /* background-color: #f9f8fa; */
    /* background-color: #f7f8f8; */
    /* background-color: black; */
    /* background: linear-gradient(45deg, #f44336 48%, #ff9800 56%); */
    color: white;
}

.hidden-door {
    position: relative;
    height: 47.5px;
    width: 166px;
    opacity: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightskyblue; */
}

.trape-door:hover .hidden-door {
    opacity: 1;
    box-shadow: inset 0px 12px 12px -8px rgba(0, 0, 0, 0.3);
}

.hidden-door a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-size: 13px;
    /* text-decoration: 1px solid underline; */
    /* color: #ff9800; */
    /* color: #3e57d0; */
    color: #fff;
    /* color: #505050; */
    font-weight: 700;
    width: 135px;
    height: 22px;
    border-radius: 15px;
    /* background-color: lightskyblue; */
    background-color: #7b68ee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-door a:hover {
    color: #fff;
    text-decoration: none;
}

.hidden-door i {
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    font-size: 10px;
    margin-left: 5px;
    /* color: #3e57d0; */
    color: #fff;
    /* color: #505050; */
    z-index: 1;
}

.top-door {
    z-index: 1;
    top: 0;
    /* right: 0; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;

}

.trape-door:hover .top-door {
    transform: translateY(-15px);
    width: 180px;
    /* background: linear-gradient(135deg, #fff 48%, #3e57d0 56%); */
    /* background: linear-gradient(135deg, #fff 48%, #b5abf0 56%); */
}

.top-door img {
    color: #74c0fc;
    margin-top: 47px;

}

.top-door h3 {
    font-size: 20px;
    margin-top: 47px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    color: #505050;
}



.bottom-door {
    z-index: 1;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 13px;

}

.trape-door:hover .bottom-door {
    transform: translateY(15px);
    width: 180px;
    /* background: linear-gradient(45deg, #fff 48%, #3e57d0 56%); */
    /* background: linear-gradient(45deg, #fff 48%, #b5abf0 56%); */
}

.bottom-door img {
    color: #74c0fc;
    margin-bottom: 47px;
}

.bottom-door h3 {
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    color: #505050;
}