


.single-service-section {
	margin: 70px 0px;
}

.single-service-section-inner {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.single-services-two-item {
    position: relative;
    z-index: 1;
    display: block;
    text-align: left;
    padding: 45px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 7px 15px 2px rgba(82, 90, 101, 0.12);
    transition: all 500ms ease-out;
    margin: 30px 12px 15px 12px;
    width: 25.33%;
}

.single-services-two-item-inner {
    display: block;
}

.services-icon-box {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 25px;
    transition: 0.5s;
    will-change: transform;
}

.services-icon-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
}

.hover-icon {
    position: absolute;
    transform: translateY(-100%);
    z-index: -1;
    transition: all 0.5s ease;
}

.single-services-two-item:hover .default-icon img {
    opacity: 0;
}

.single-services-two-item:hover .hover-icon img {
    opacity: 1;
    transform: scaleX(-1);
    transition: 0.5s;
}

.single-services-two-item h3, .service-item-inner h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    transition: all 0.5s ease-out;
}

.single-services-two-item p, .service-item-inner p {
    font-size: 16px;
    margin: 20px 0;
    color: #5f5f5f;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
    transition: all 0.5s ease-out;
    will-change: transform;
}

.arrow-readmore {
    width: 100%;
    height: 100%;
}

.arrow-readmore a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7b68ee;
    font-weight: 600;
    transition: all 0.5s ease;
}

.arrow-readmore a i {
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    font-size: 13px;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.arrow-readmore a:hover i {
    transform: translateX(5px);
}


.single-services-two-item:hover {
    transform: translateY(-10px);
    background-color: #7b68ee;
}

.single-services-two-item:hover h3,
.single-services-two-item:hover p,
.single-services-two-item:hover .arrow-readmore a,
.single-services-two-item:hover .arrow-readmore a i {
    color: #ffffff;
}