.home-hire-section {
  position: relative;
  z-index: 1;
  display: block;
  background-image: url("/public/assets/images/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
}

.home-hire-section .home-hire-section-inner {
  width: 736px;
  height: 280px;
}

.home-hire-section .home-hire-section-inner::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 84, 0.6);
  z-index: 1;
}

.home-hire-section .home-hire-section-inner .home-hireP {
  width: 100%;
  text-align: center;
  color: #ff9800;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 5px;
  z-index: 2;
  position: relative;
}

.home-hire-section .home-hire-section-inner .home-hireH {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 38px;
  font-weight: 800;
  margin: 10px 0 0 0;
  z-index: 2;
  position: relative;
  font-family: "Dosis", sans-serif;
}

.home-hire-section .home-hire-section-inner .home-hire-text {
  color: #fff;
  z-index: 2;
  position: relative;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons a {
  width: 149px;
}

.home-hire-section .home-hire-section-inner .call-now {
  font-family: "Catamaran", sans-serif;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  position: relative;
  border: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 25px rgba(123, 104, 238, 0.25);
  text-decoration: none;
  border: 3px solid transparent;
  color: #7b68ee;
  border: none;
  overflow: hidden;
  background-color: #fff;
  margin-top: 0;
  z-index: 6;
  height: 50px;
  width: 149px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  z-index: 6;
  margin-right: 25px;
  display: flex;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now:active {
  transform: translateY(3px);
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now::after,
.call-now::before {
  border-radius: 3px;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now:hover {
  color: #fff;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, border 0.3s;
  z-index: 2;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #3e57d0;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons .call-now:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons #call-now {
  margin-right: 20px;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us {
  font-family: "Catamaran", sans-serif;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  /* padding: 4px 35px; */
  position: relative;
  border: none;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 7px 25px rgba(123, 104, 238, 0.25);
  text-decoration: none;
  /* margin: 0 10px; */
  border: 3px solid transparent;
  color: #7b68ee;
  border: none;
  overflow: hidden;
  /* box-shadow: none; */
  background-color: #fff;
  margin-top: 0;
  z-index: 6;
  height: 50px;
  width: 149px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  z-index: 6;
  margin-right: 25px;
  display: flex;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us:active {
  transform: translateY(3px);
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us::after,
.contact-us::before {
  border-radius: 3px;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us:hover {
  /* background-color: #fff; */
  color: #fff;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 3px solid rgba(50, 50, 60, 0.9); */
  transition: opacity 0.3s, border 0.3s;
  z-index: 2;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #3e57d0;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.home-hire-section .home-hire-section-inner .home-hire-section-buttons 
.contact-us:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}