.home-about-section {
    background-color: #f7f8f8;
    padding: 100px 0px;
}

.home-about-section .home-about-section-inner {
    display: flex;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about-section .home-about-section-inner .home-about {
    box-sizing: border-box;
    padding: 0px 12px;
}

.home-about-section .home-about-section-inner .home-about.home-about-left .content1 {
    color: rgb(33, 37, 41);
    margin-bottom: 15px;
}

.home-about-section .home-about-section-inner .home-about-right {
    position: relative;
    width: 570px;
    margin-top: 10px;
}

.home-about-section .home-about-section-inner .home-about-left {
    position: relative;
    width: 576px;
}

.home-about-section .home-about-section-inner .home-about-right img {
    width: 546px;
    height: 464px;
    border-radius: 5px;
}

.home-about-section .home-about-section-inner .home-about-left .progress {
    margin-bottom: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f7f8f8;
    border-radius: 0px;
}

.home-about-section .home-about-section-inner .home-about-left .progress .skill-percantage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-about-section .home-about-section-inner .home-about-left .progress .skill-percantage p {
    display: flex;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: rgb(33, 37, 41);
    margin: 0px 0px 5px 0px;
}

.home-about-section .home-about-section-inner .home-about-left .progress .skill-percantage span {
    display: flex;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    color: rgb(33, 37, 41);
    margin: 0px 0px 5px 0px;
    font-size: 14px;
}

.home-about-section .home-about-section-inner .home-about-left .progress .progress-bar {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #ddddff;
    transition-timing-function: ease;
}

.home-about-section .home-about-section-inner .home-about-left .progress .progress-bar .skill-progress90,
.skill-progress75,
.skill-progress85 {
    width: 0%;
    height: 7px;
    background-color: #7b68ee;
    border-radius: 10px;
    transition: width 3s ease;
}

.home-about-section .home-about-section-inner .home-about-right .year-design {
    width: 250px;
    height: 142px;
    background-color: white;
    border-bottom: 2px solid #ff9800;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 30px;
    box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-about-section .home-about-section-inner .home-about-right .year-count {
    font-family: "Dosis", sans-serif;
    font-size: 70px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background: url("/public/assets/images/about.jpg") no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 11px;
    line-height: 1.45;
    margin-bottom: 0;
}

.home-about-section .home-about-section-inner .home-about-right .year-design .year-design-inner {
    display: block;
    align-items: center;
    justify-content: center;
}

.home-about-section .home-about-section-inner .home-about-right .year-design .year-design-inner p {
    line-height: 1.45;
    margin-bottom: 0;
}

.home-about-section .home-about-section-inner .home-about-right .year-design .year-design-inner #iq {
    text-align: center;
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button {
    font-family: "Catamaran", sans-serif;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    position: relative;
    border: none;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 7px 25px rgba(123, 104, 238, 0.25);
    text-decoration: none;
    border: 3px solid transparent;
    color: #fff;
    border: none;
    overflow: hidden;
    background-color: #7b68ee;
    margin-top: 0;
    z-index: 6;
    height: 50px;
    width: 149px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    z-index: 6;
    margin-right: 20px;
    display: flex;
    margin-top: 25px;
    margin-left: 13px;
    padding: 0px 8px 0px 8px;
}

.message-button:active {
    transform: translateY(3px);
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button::after,
.message-button::before {
    border-radius: 3px;
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button:hover {
    color: #fff;
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s, border 0.3s;
    z-index: 2;
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #3e57d0;
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
}

.home-about-section .home-about-section-inner .home-about-left .home-about-section-inner .home-about-left .learns-more-btn-div {
    margin-left: -13px;
    margin-top: 34px;
}

.home-about-section .home-about-section-inner .home-about-left .center-text-title {
    width: 100%;
    text-align: left;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
}

.home-about-section .home-about-section-inner .home-about-left .center-text-heading {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 15px;
    color: #353333;
    font-size: 38px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
    line-height: 1.3;
}