




svg {
  position: absolute;
  top: -4000px;
  left: -4000px;
}



#gooey-button:focus {
  outline: none;
}

#gooey-button .bubbles {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	rotate: 180deg;
	transform: scaleX(-1);
  z-index: -1;
}

#gooey-button .bubble {
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  /* background-color: #7b68ee; */
  background-color: #3e57d0;
}

#gooey-button a{
  width: 100%;
  height: auto;
}

#gooey-button {
  font-family: "Catamaran", sans-serif;
  width: 161px;
  height: 49px;
  filter: url('#gooey');
  position: relative;
  /* border-radius: 0px 5px 5px 0px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
    /* background-color: #7b68ee; */
  background-color: #3e57d0;
}



/*
#gooey-button .bubble:nth-child(1) {
  left: 89px;
  width: 25px;
  height: 25px;
  animation: move-1 3.02s infinite;
  animation-delay: 0.2s;
}


#gooey-button .bubble:nth-child(2) {
  left: 36px;
  width: 25px;
  height: 25px;
  animation: move-2 3.04s infinite;
  animation-delay: 0.2s;
}

#gooey-button .bubble:nth-child(3) {
  left: 85px;
  width: 25px;
  height: 25px;
  animation: move-3 3.06s infinite;
  animation-delay: 0.3s;
}

#gooey-button .bubble:nth-child(4) {
  left: 26px;
  width: 25px;
  height: 25px;
  animation: move-4 3.08s infinite;
  animation-delay: 0.8s;
}

#gooey-button .bubble:nth-child(5) {
  left: 34px;
  width: 25px;
  height: 25px;
  animation: move-5 2.4s infinite;
  animation-delay: 7s;
}

#gooey-button .bubble:nth-child(6) {
  left: 65px;
  width: 25px;
  height: 25px;
  animation: move-6 2.7s infinite;
  animation-delay: 1s;
}

#gooey-button .bubble:nth-child(7) {
  left: 21px;
	width: 25px;
	height: 25px;
	animation: move-7 2.3s infinite;
	animation-delay: -4.6s;

}

#gooey-button .bubble:nth-child(8) {
  left: 22px;
  width: 25px;
  height: 25px;
  animation: move-8 2s infinite;
  animation-delay: 1.6s;
}

#gooey-button .bubble:nth-child(9) {
  left: 93px;
  width: 25px;
  height: 25px;
  animation: move-9 1s infinite;
  animation-delay: 1.3s;
}

#gooey-button .bubble:nth-child(10) {
  left: 96px;
  width: 25px;
  height: 25px;
  animation: move-10 3.2s infinite;
  animation-delay: 2s;
} */

#gooey-button .bubble:nth-child(1) {
    left: 89px;
    width: 25px;
    height: 25px;
    -webkit-animation: move-1 3.02s infinite;
    animation: move-1 3.02s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  
}


#gooey-button .bubble:nth-child(2) {
  left: 36px;
width: 25px;
height: 25px;
-webkit-animation: move-2 3.04s infinite;
animation: move-2 3.04s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 0.4s;
animation-delay: 0.4s;
}

#gooey-button .bubble:nth-child(3) {
  left: 85px;
width: 25px;
height: 25px;
-webkit-animation: move-3 3.06s infinite;
animation: move-3 3.06s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 0.6s;
animation-delay: 0.6s;
}

#gooey-button .bubble:nth-child(4) {
  left: 26px;
width: 25px;
height: 25px;
-webkit-animation: move-4 3.08s infinite;
animation: move-4 3.08s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
}

#gooey-button .bubble:nth-child(5) {
  left: 34px;
width: 25px;
height: 25px;
-webkit-animation: move-5 3.1s infinite;
animation: move-5 3.1s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 1s;
animation-delay: 1s;
}

#gooey-button .bubble:nth-child(6) {
  left: 65px;
  width: 25px;
  height: 25px;
  -webkit-animation: move-6 3.12s infinite;
  animation: move-6 3.12s infinite;
    animation-delay: 0s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#gooey-button .bubble:nth-child(7) {

  left: 21px;
width: 25px;
height: 25px;
-webkit-animation: move-7 3.14s infinite;
animation: move-7 3.14s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 1.4s;
animation-delay: 1.4s;
}

#gooey-button .bubble:nth-child(8) {

  left: 22px;
width: 25px;
height: 25px;
-webkit-animation: move-8 3.16s infinite;
animation: move-8 3.16s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 1.6s;
animation-delay: 1.6s;
}

#gooey-button .bubble:nth-child(9) {
  left: 93px;
width: 25px;
height: 25px;
-webkit-animation: move-9 3.18s infinite;
animation: move-9 3.18s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 1.8s;
animation-delay: 1.8s;
}

#gooey-button .bubble:nth-child(10) {
  left: 96px;
width: 25px;
height: 25px;
-webkit-animation: move-10 3.2s infinite;
animation: move-10 3.2s infinite;
  animation-delay: 0s;
-webkit-animation-delay: 2s;
animation-delay: 2s;
}

@keyframes move-1 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(10% + 60px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-2 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(20% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-3 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(30% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-4 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(40% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-5 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(50% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-6 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(60% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-7 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(70% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-8 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(80% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-9 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(90% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes move-10 {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(calc(100% + 50px));
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
