.home-partner-section {
    width: 100%;
    height: auto;
    padding: 100px 0px;
}

.home-partner-section .home-partner-section-inner {
    width: 100%;
}

.home-partner-section .home-partner-section-inner .home-partner-upper {
    width: 100%;
    height: 89px;
    margin-bottom: 40px;
}

.home-partner-section .home-partner-section-inner .home-partner-upper .center-text-title {
    width: 100%;
    text-align: center;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 100%;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: "Dosis", sans-serif;
    text-align: center;
}

.home-partner-section .home-partner-section-inner .home-partner-upper .home-partner-section .center-text-heading {
    width: 100%;
    margin-bottom: 15px;
    color: #404040;
    font-size: 38px;
    font-weight: 800;
    font-family: "Dosis", sans-serif;
    text-align: center;
}

.home-partner-section .home-partner-section-inner .home-partner-down {
    max-width: 1320px;
    height: auto;
    font-weight: 800;
}

.home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
    max-width: 18%;
    height: 106px;
    border: 2px solid #ededed;
    border-radius: 10px;
    margin: 9px;
    margin-top: 15px;
}

.home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item a {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90%; */
}

.home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item img {
    width: 100%;
    height: 100%;
}