

.container {
    display: block;
    max-width: 1117px;
    margin: 0 auto;
    /* padding: 0 15px; */
    box-sizing: border-box;
}

.about-section {
    background-color: #f7f8f8;
    padding: 100px 0px;
}


.about-section-inner {
    display: flex;
}

.about-section-inner p {
    text-align: left;
    width: 100%;
}

.about-section-inner h2 {
    text-align: left;
    width: 100%;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about {
    flex: 1;
    width: 570px;
    height: 477px;
    box-sizing: border-box;
    padding: 0px 12px;
}

.about,
.content1 {
    color: #404040;
    margin-bottom: 15px;
}

.about-right {
    position: relative;
}

.about-right img {
    width: 546px;
    height: 464px;
    border-radius: 5px;
}

.progress {
    margin-bottom: 20px;
}

.skill-percantage {
    display: flex;
    margin-bottom: 10px;
}

.skill-percantage p,
span {
    display: flex;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: #ddddff;
    transition-timing-function: ease;
}

@keyframes demo {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skill-progress90 {
    width: 90%;
    height: 7px;
    background-color: #7b68ee;
    border-radius: 10px;
    transition: width ease;
    animation-name: demo;
    animation-duration: 3s;
}

@keyframes demo1 {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skill-progress75 {
    width: 75%;
    height: 7px;
    background-color: #7b68ee;
    border-radius: 10px;
    animation-name: demo1;
    transition: width ease;
    animation-duration: 3s;
}

@keyframes demo2 {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.skill-progress85 {
    width: 85%;
    height: 7px;
    background-color: #7b68ee;
    border-radius: 10px;
    animation-name: demo2;
    transition: width ease;
    animation-duration: 3s;
}

.year-design {
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
    bottom: 33px;
    width: 230px;
    height: 109px;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #ffffff;
    border-bottom: 2px solid #ff9800;
    -webkit-box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
    box-shadow: -1px 3px 20px 0px rgb(82, 90, 101, 0.1);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-count {
    font-family: "Dosis", sans-serif;
    font-size: 70px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background: url('../ASSETS/about.jpg') no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    /* margin-bottom: -10px; */
}

.year-design-inner {
    display: block;
    align-items: center;
    justify-content: center;
}

.year-design-inner p {
    line-height: 1.5;
    margin-bottom: 13px;
}

#iq {
    text-align: center;
    margin-top: -20px;
}

.center-text-title {
    width: 100%;

    color: #ff9800;
    font-size: 16px;
    font-weight: 700;

    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: "Dosis", sans-serif;
}

.center-text-heading {
    width: 100%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 15px;
    color: #404040;
    font-size: 38px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
}

.common-button {
    background-color: #7b68ee;
    width: 149px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 3px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.common-button a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.number-count-area-inner {
    display: flex;
    background-image: url("../ASSETS/banner-bg.jpg");
    padding: 120px 100px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.number-count-area-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 84, 0.6);
    z-index: 0;
}

.counter-div {
    width: 261px;
    height: 96px;
    display: block;
    position: relative;
    z-index: 1;
}

.counter-div h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    word-spacing: -5px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    margin-bottom: 5px;
}

.counter-div h3 {
    color: #fff;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}



.team-section {
    height: auto;
    padding: 100px 0px;
    /* max-width: 1340px; */
    margin: 0 auto;
}

.team-inner {
    width: 100%;
}

.team-upper {
    height: 123px;
}

.testi {
    width: 100%;
    text-align: center;
}

.testi1 {
    width: 100%;
    color: #404040;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.team-lower {
    width: 100%;
    height: auto;
}

.team-lower-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.team-member {
    /* margin: 20px; */
}

.team-member-inner {
    text-align: center;
}

.team-img {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 261px;
    height: 294px;
    margin: 0 auto;
    border-radius: 5px;
}

.team-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.team-img:hover img {
    transform: scale(1.1);
}

.team-social-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}

.team-img:hover .team-social-icon-list {
    opacity: 1;
}

.team-social-icon-list a {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: #fcfcfc;
    background-color: transparent;
    text-decoration: none;
    transform: scale(0.5);
    /* Start small */
    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

.team-img:hover .team-social-icon-list a {
    transform: scale(1);
    /* Grow to full size */
}

.team-social-icon-list a:hover {
    border: 1px solid #7b68ee;
    background-color: #7b68ee;
    transition: all 0.3s ease-in-out;
}

.team-info {
    margin-top: 10px;
}

.team-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.team-post {
    display: block;
    font-size: 16px;
    color: #888;
}

.team-post {}

.team-info {
    width: 100%;
    height: auto;
}

.team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
}

.team-post {
    align-items: center;
    justify-content: center;
    color: #7b68ee;
    font-size: 16px;
    font-family: "Catamaran", sans-serif;
    font-weight: 500;
}



.hire-section {
    position: relative;
    z-index: 1;
    display: block;
    background-image: url("../ASSETS/banner-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 70px 0px;
    display: flex;
    justify-content: center;

}

.hire-section-inner {
    width: 736px;
    height: 280px;
}

.hire-section-inner::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 84, 0.6);
    z-index: 0;
}

.hireP {
    width: 100%;
    text-align: center;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    z-index: 2;
    position: relative;
}

.hireH {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 0 0;
    z-index: 2;
    position: relative;
}

.hire-text {
    color: #fff;
    z-index: 2;
    position: relative;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
}

.hire-section-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#call-now {
    z-index: 2;
    position: relative;
    font-weight: 600;
}

#Contact-Us {
    z-index: 2;
    position: relative;
    font-weight: 600;
}




.partners-section {
    width: 100%;
    height: auto;
    padding: 100px 0px;
}

.container1 {
    max-width: 1320px;
    height: auto;
}

.partners-section-inner {
    width: 100%;
}

.partners-upper {
    width: 100%;
    height: 89px;
    margin-bottom: 40px;
}

.partnersParagraph {
    width: 100%;
    text-align: center;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.partnersHeader {
    width: 100%;
    text-align: center;
    color: #404040;
    font-size: 40px;
    font-weight: 800;
}

.partners-down {
    max-width: 1320px;
    height: auto;
    font-weight: 800;
}


.partners-down-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.partner-item {
    max-width: 18%;
    height: 106px;
    border: 2px solid #ededed;
    border-radius: 10px;
    margin: 9px;
    margin-top: 15px;
}

.partner-item a {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.partner-item img {
    width: 100%;
    height: 100%;
}

.about-feature-section {
    padding: 100px 0px;
}

.about-feature-section-inner {
    display: flex;
}

.about-feature-item {
    width: 33.33%;
    margin: 0px 10px;
    transition: all;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.about-feature-item:hover {
    transform: translateY(-10px);
    transform: transform 0.5s ease;
}

.about-feature-item-inner {
    padding: 40px 30px;
    box-shadow: 0px 10px 57px 0px rgba(0, 0, 0, 0.08);
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-feature-item-inner img {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
}

.arrow-readmore i {
    font-family: "Font Awesome 6 free";
    font-weight: 600;
    font-size: 13px;
    padding-right: 10px;
    color: #7b68ee;
}

.arrow-readmore {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-readmore a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7b68ee;
    text-decoration: none;
    font-weight: 600;
    margin: 0 96px;

}

.arrow-readmore a i {
    transition: transform 400ms ease;
    /* Smooth transition for movement */
}

.arrow-readmore a:hover i {
    transform: translateX(5px);
    /* Moves the icon 10px to the right on hover */
}

h3 {
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    color: #0b0b31;
    font-size: 20px;
    margin-bottom: 15px;
}


p {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 15px;
}




.working-proccess-section-upper {
    padding-bottom: 43px;
}

.working-proccess-section {
    padding: 100px 0px;
    background-color: #f7f8f8;
}

.working-process-section-down-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-item {
    width: 23%;
    height: auto;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 12px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px 0px rgb(82, 90, 101, 0.1);
    transition: 0.4s;
    box-sizing: border-box;
}

.process-item:hover {
    transform: translateY(-10px);
}

.process-item-inner {
    padding: 30px 20px;
}

.process-icon {
    border: 5px solid rgb(123, 104, 238, .05);
    margin-bottom: 25px;
    border-radius: 15px;
    width: max-content;
    height: 85px;
    background-color: rgb(123, 104, 238, .05);
    width: 85px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-item:hover .process-icon {
    border: 5px solid rgb(123, 104, 238, .3);
}

.process-icon img {
    width: 45px;
    height: 45px;
    padding: 20px;
}

.process-item h3 {
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    margin-bottom: 15px;
}

p {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.process-item span {
    /* z-index: -1; */
    position: absolute;
    transform: translateY(-50%);
    color: rgb(123, 104, 238, .05);
    font-size: 12rem;
    font-weight: 700;
    line-height: 1;
    font-family: 'Catamaran', sans-serif;
    right: 0;
    bottom: -41%;

}