

.container {
  display: block;
  max-width: 1117px;
  margin: 0 auto;
  /* padding: 0 15px; */
  box-sizing: border-box;
}

.error-content {
	max-width: 700px;
	text-align: center;
	margin: 25px auto;
}

h3 {
  font-weight: 700;
  line-height: 1.4;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 18px;
  color: #0b0b31;
}

.error-content p {
  max-width: 520px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 auto 20px;
}

.error-content p {
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.2px;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 15px;
}

.error-content .default-btn-one:hover {
  color: #7b68ee;
  background-color: #ffffff;
  text-decoration: none;
}

.error-content .default-btn-one {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 30px;
  border: 1px solid #7b68ee;
  background-color: #7b68ee;
  -webkit-transition: .6s;
  transition: .6s;
  margin-right: 0;
}

.default-btn-one {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #7b68ee;
  font-size: 16px;
  font-weight: 600;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
  text-decoration: none;
}