@media (max-width:1800px) {
    .container {
        max-width: 1296px;
        margin: 0 auto;
    }

    .home-page__header.alternative-theme::before {
        width: 100%;
        height: 906px;
    }

    #support-btn {
        height: 50px;
        width: 166px;
    }

    .service-item {
        width: 407px;
        margin-top: -26px
    }

    /* .feature-item {
        width: 31.35%;
        height: 328px;
    }

    .technology-item-inner h3 {
        font-size: 20px;
    }

    .feature-item-inner p {
        font-size: 16px;
    } */


    .center-text-title {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 1.4;
    }

    .about-section-inner h2 {
        margin-bottom: 20px;
    }

    .year-design {
        left: 100px;
    }


    .about-right img {
        width: 636px;
        height: 540px;
    }

    .overview-left img {
        width: 636px;
        height: 477px;
        padding-top: 0px;
    }

    #learn-more {
        width: 174px;
    }

    #portfolio-heading {
        font-size: 40px;
        font-weight: 800;
    }

    .portfolio-img {
        height: 408px;
        width: 407px;
    }

    .portfolio-img img {
        width: 408px;
    }

    .img-overlay {
        width: 382px;
        bottom: -25px;
    }

    .browser-bar {
        width: 95%;
        height: 9%;
    }

    .bar-dots {
        width: 49px;
        margin-left: 0px;
        margin-top: 2px;
    }

    .dot {
        margin-top: 11px;
        height: 12px;
        width: 12px;
    }

    .browser-bar .bar-url {
        height: 29px;
        line-height: 29px;
        font-size: 17.5px;
        margin: 4px 3px 2px 6px;
    }

    .hireH {
        font-size: 40px;
    }

    .partner-item {
        max-width: 18.30%;
        height: 126px;
    }

    .subcribe-email-div {
        width: 636px;
    }


    .trape-door {
        width: 196px;
    }

    .door {
        width: 196px;
    }

    .trape-door:hover .top-door {
        transform: translateY(-15px);
        width: 223px;
    }

    .trape-door:hover .bottom-door {
        transform: translateY(15px);
        width: 223px;
    }

    .hidden-door {
        width: 200px;
    }

    .blog-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog-down-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .blog-item {
        width: 31.33%;
        height: 505px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 5px 20px 0px rgb(82, 90, 101, 0.1);
        border-bottom: 3px solid #7b68ee;
        box-sizing: border-box;
        margin: 10px;
    }


}











@media (max-width:1403px) {
    .container {
        max-width: 1117px;
    }


    /* feature section --start--*/
    .feature-item {
        width: 356px;
        height: 328px;
    }

    /* feature section --finish--*/

    /* Service section --start--*/
    .service-item {
        width: 356px;
    }

    /* Service section --start--*/


    /* About section --start--*/
    .about-right img {
        width: 546px;
        height: 464px;
        border-radius: 5px;
    }

    /* About section --Finish--*/


    /* portfolio section --start--*/
    .portfolio-img {
        height: 348px;
        width: 348px;
    }

    .portfolio-img img {
        width: 328px;
    }


    .img-overlay {
        width: 328px;
        /* bottom: -25px; */
    }

    .browser-bar {
        width: 95%;
        height: 8%;
    }

    .portfolio-img {
        height: 348px;
        width: 348px;
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        margin: 10px;
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
        border: 1px solid #b9b6b6;
    }



    .portfolio-img img {
        display: block;
        width: 348px;
        height: auto;
        transition: transform 5s cubic-bezier(0, 0, 1, 1);

    }



    .browser-bar {
        background: #f2f2f2;
        padding: 8px 10px;
        border-radius: 4px 4px 0 0;
        display: flex;
        position: relative;
        z-index: 3;
        /* background-color: #263238; */
    }

    .browser-content {

        transition: 0.3s;
    }

    .bar-dots {
        width: 40px;
        margin-left: 0px;
        margin-top: 2px;
    }

    .dot {
        margin-top: 4px;
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .browser-bar .bar-url {
        width: calc(100% - 65px);
        border-radius: 4px;
        border: none;
        background-color: white;
        height: 24px;
        line-height: 24px;
        color: #aaa;
        padding: 0 11px;
        margin: 0;
        font-size: 14.5px;
        pointer-events: none;
        box-shadow: none;
        z-index: 11;
        position: relative;
        margin: 3px 0px 2px 6px;
    }

    .listing-badge {
        float: left;
        position: absolute;
        transform: rotate(45deg);
        right: -42px;
        top: 59px;
        text-align: center;
        font-size: 15.5px;
        margin: 0;
        color: #fff;
        font-weight: 600;
        line-height: 27px;
        background-color: #54ba1d;
        z-index: 2;
        width: 137px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins", sans-serif;
    }

    .img-overlay {
        border-radius: 5px;
        width: 328px;
        height: 87px;
        display: flex;
        position: absolute;
        bottom: -9%;
        transform: translateY(-50%);
        left: 3%;
        opacity: 0;
        transition: all 0.4s ease;
    }

    .portfolio-img:hover .img-overlay {
        opacity: 1;
    }

    .img-overlay-inner {
        background-color: #fff;
        width: 100%;
        height: 57px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        transform: translateX(-10px);
        transform: translateY(20px);
        transition: all 0.4s ease;
    }

    .fox {
        opacity: 0;
    }

    .portfolio-img:hover .fox {
        transition: all 0.5s ease 0.3s;
        opacity: 1;
    }

    .portfolio-img {
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }

    .portfolio-img:hover .img-overlay-inner {
        transform: translateX(0px);
    }

    .img-overlay-inner p {
        color: #7b68ee;
        font-size: 15px;
        font-weight: 700;
        transform: translateX(-25px);
        transition: all 0.5s ease 0.3s;
    }

    .portfolio-img:hover .img-overlay-inner p {
        transform: translateX(0px);
        transition: all 0.5s ease 0.3s;
    }

    .img-overlay-inner a {
        text-decoration: none;
        color: #404040;
        font-size: 18px;
        font-weight: 700;
        margin-top: 5px;
        font-family: "Dosis", sans-serif;
    }

    .portfolio-img:hover .img-overlay-inner h3 {
        transform: translateX(0px);
        /* transition: all 0.5s ease; */
    }

    .img-overlay-inner h3 {
        transform: translateX(25px);
        transition: all 0.5s ease 0.3s;
    }

    .wox {
        width: 0px;
        height: 88px;
        background-color: #7b68ee;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 0.5s ease 0.3s;
        transform: translateY(0px);
    }

    .portfolio-img:hover .wox {
        width: 96px;
    }

    .portfolio-img .wox {
        animation: translateBack 0.5s ease forwards;
    }

    .portfolio-img:hover .wox {
        animation: none;
    }

    /* Portfolio section --Finish--*/


    /* Hire section --Start--*/
    .hireH {
        font-size: 38px;
    }

    /* Hire section --Finish--*/


    /* Partner section --Start--*/
    .partner-item {
        max-width: 18%;
        height: 106px;
    }

    .trape-door {
        width: 166px;
    }

    .door {
        width: 166px;
    }

    .trape-door:hover .top-door {
        transform: translateY(-15px);
        width: 180px;
    }

    .trape-door:hover .bottom-door {
        transform: translateY(15px);
        width: 180px;
    }

    .hidden-door {
        width: 166px;
    }

    /* Partner section --Finish--*/


    /* Overview section --Start--*/

    .overview-section {
        padding: 100px 0px 90px 0px;
    }

    #overview-section-2 {
        padding: 50px 0px 100px 0px;
    }

    .overview-inner {
        display: flex;
        width: 100%;
    }

    .overview {
        flex: 1;
        flex-direction: row;
        box-sizing: border-box;
        padding: 0px 12px;
    }

    .overview-left img {
        width: 546px;
        height: 410px;
        align-items: center;
        justify-content: center;
        padding-top: 22px;
    }

    /* Overview section --Finish--*/

    /* Feature section --Start--*/
    .feature-list-item {
        /* margin: 14px 10px 10px 0px; */
    }

    /* Feature section --Finish--*/

        .blog-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

    .blog-item {
        width: 31.33%;
        height: 505px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 5px 20px 0px rgb(82, 90, 101, 0.1);
        border-bottom: 3px solid #7b68ee;
        box-sizing: border-box;
      }

      .blog-down-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
      }

}